<main (resized)="onResize($event)">
    <section>
        <aside>
            <div style="position: fixed;">
                <div class="header">
                    <div skin [name]="auth.user.web.skin" [scale]="2"></div>
                    <span>{{auth.user.general.playerName}}</span>
                    <span class="level">Lv. {{auth.user.general.level}}, {{auth.user.web.role | titlecase}}</span>
                </div>
                <hr>
                <mat-nav-list>
                    <mat-list-item matLine (click)="app.scrollToElement(generalSection, -64)">
                        <a>General</a>
                    </mat-list-item>
                    <mat-list-item matLine (click)="app.scrollToElement(upgradesSection, -64)">
                        <a>Upgrades</a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </aside>
        <section>
            <div #generalSection class="title generalSection">
                <span>general</span><hr>
            </div>
            <article class="arrestLock" *ngIf="auth.user.general.arrest != 0 || auth.user.general.lockTime != 0">
                <mat-card class="card" matRipple *ngIf="auth.user.general.arrest != 0">
                    <div>
                        <span>Arest</span>
                        <span>{{auth.user.general.arrest}}</span>
                        <span>{{auth.user.general.arrestReason}}</span>
                    </div>
                </mat-card>
                <mat-card class="card" matRipple *ngIf="auth.user.general.lockTime != 0">
                    <div>
                        <span>Lock</span>
                        <span>{{auth.user.general.lockTime}}</span>
                        <span>{{auth.user.general.lockReason}}</span>
                    </div>
                </mat-card>
            </article>
            <article class="miniGeneral">
                <mat-card class="card" matRipple>
                    <span>Playtime</span>
                    <span>{{auth.user.general.time | playtime}}</span>
                </mat-card>
                <mat-card class="card" matRipple>
                    <span>Sleep time</span>
                    <span>{{auth.user.general.sleepTime}}</span>
                </mat-card>
                <mat-card class="card" matRipple>
                    <span>House safe time</span>
                    <span>{{auth.user.general.houseSafeTime}}</span>
                </mat-card>
                <mat-card class="card" matRipple>
                    <span>Bank rob time</span>
                    <span>{{auth.user.general.bankRobTime}}</span>
                </mat-card>
            </article>
            <article class="general">
                <mat-card class="level card" matRipple>
                    <h2 class="mat-display-1">Experience</h2>
                    <div id="level-chart" class="chart"></div>
                </mat-card>
                <mat-card class="kd card" matRipple>
                    <h2 class="mat-display-1">KD</h2>
                    <div id="kd-chart" class="chart"></div>
                </mat-card>
            </article>
            <article class="money">
                <mat-card class="money card" matRipple>
                    <h2 class="mat-display-1">Money</h2>
                    <div id="money-chart" class="chart"></div>
                </mat-card>
            </article>
            <div #upgradesSection class="title upgradesSection">
                <span>upgrades</span><hr>
            </div>
            <article class="upgrades">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let upgrade of upgrades | keyvalue">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{upgrade.key | titlecase}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngFor="let item of upgrade.value | keyvalue" matRipple>
                            <span>{{item.key | titlecase}}</span>
                            <button mat-mini-fab color="warn" *ngIf="item.value == 0" matTooltip="Not Bought">
                                <mat-icon>clear</mat-icon>
                            </button>
                            <button mat-mini-fab disabled="true" *ngIf="item.value == 1" matTooltip="Bought">
                                <mat-icon>done</mat-icon>
                            </button>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </article>
        </section>
    </section>
</main>