main {
    padding: 1em 2em;
}

mat-card {
    margin: 0.5em;
    padding: 1em;
}

mat-card h2 {
    text-align: center;
    margin-bottom: 4px;
}

.first-row {
    height: 35vh;
}
hr {
    width: 100%;
    border: 0;
    height: 0;
    margin: 20px 0 15px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
section {
    width: 100%;
    display: flex;
    > aside {
        width: 300px;
        padding: 0 20px 0 0;
        box-sizing: border-box;
        position: relative;
        div {
            width: 200px;
            display: flex;
            flex-wrap: wrap;
            position: sticky;
            justify-content: center;
            img {
                width: 150px;
                margin: 20px 0 20px 0;
            }
            span {
                width: 100%;
                padding: 10px 20px 10px 20px;
                text-align: left;
                box-sizing: border-box;
            }
            &.header {
                span {
                    display: block;
                    font-size: 20px;
                    text-align: center;
                    &.level {
                        padding: 0px 20px 0px 20px;
                        font-size: 17px;
                    }
                }
            }
            mat-nav-list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
    > section {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        .title {
            width: 100%;
            padding: 20px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            span {
                margin: 0 40px 0 0;
                font-size: 25px;
                text-transform: capitalize;
            }
            hr {
                width: 100%;
                display: block;
            }
        }
        article {
            width: 100%;
            padding: 10px;
            display: flex;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            .chart {
                width: 100%;
                min-height: 270px; 
            }
            .card {
                width: 100%;
            }
            &.arrestLock {
                .card {
                    height: 400px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(255, 146, 146);
                    span {
                        color: white;
                        width: 100%;
                        display: block;
                        padding: 10px;
                        font-size: 20px;
                        box-sizing: border-box;
                        text-align: center;
                    }
                }
            }
            &.miniGeneral {
                .card {
                    min-height: 50px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span {
                        position: relative;
                        font-size: 18px;
                        &:first-child {
                            color: rgb(148, 148, 148);
                            width: 100%;
                            bottom: 0;
                            display: block;
                            position: absolute;
                            font-size: 13px;
                            text-align: center;
                        }
                    }
                }
            }
            &.upgrades {
                width: 100%;
                display: block;
                flex-wrap: wrap;
                mat-panel-title {
                    text-transform: capitalize;;
                }
                div {
                    width: 100%;
                    display: flex;
                    padding: 10px;
                    box-sizing: border-box;
                    align-items: center;
                    border-radius: 3px;
                    justify-content: space-between;
                    transition: .2s all;
                    &:hover {
                        background-color: rgb(0, 0, 0, .03);
                    }
                    .mat-raised-button {
                        line-height: 30px;
                    }
                }
            }
        }
    }
}