<main>
    <div class="poly poly1"></div>
    <div class="poly poly2"></div>
    <div class="poly poly3"></div>
    <div class="clouds">
        <img src="assets/bg_cloud1.png" class="cloud1">
        <img src="assets/bg_cloud2.png" class="cloud2">
    </div>
    <section class="title">
        <topbar [hasColor]="false"></topbar>
        <div class="welcome-text shield">
            <div>
                <div class="line line-1"></div>
                <div class="line line-1"></div>
            </div>
            <h1 *ngIf="!auth.user" class="mat-display-2">Welcome to iF | City</h1>
            <h1 *ngIf="auth.user" class="mat-display-2">Welcome {{auth.user.general.playerName}}</h1>
            <h2 class="mat-display-1" style="margin: 0">Enjoy and have fun ;)</h2>
        </div>
        <div class="servers">
            <h2 class="mat-display-1">Servers</h2>
            <div *ngFor="let server of servers" class="server-ip" 
            (click)="app.copy(server)"
            fxLayout="row" fxLayoutAlign="space-between center" matRipple>
                <p>{{server}}</p><mat-icon>content_copy</mat-icon>
            </div>
        </div>
    </section>
    
    <section class="changelog" fxLayout="column" fxLayoutAlign=" center">
        <h1 class="mat-display-2" style="text-align: center;">Changelog</h1>
        
        <table class="logs">
            <tr fxLayoutAlign="center ">
                <td class="web-log log" valign="top" >
                    <h2 class="mat-h1">Web</h2>
                    <h3 class="mat-h3">v. {{(changelogs | async)?.webLog.version}} - {{(changelogs | async)?.webLog.createdAt | date}}</h3>
                    <li *ngFor="let log of (changelogs | async)?.webLog.changes">{{log}}</li>
                </td>
                <td class="map-log log" style="padding-left: 2em" valign="top">
                    <h2 class="mat-h1">Map</h2>
                    <h3 class="mat-h3">v. {{(changelogs | async)?.mapLog.version}} - {{(changelogs | async)?.mapLog.createdAt | date}}</h3>
                    <li *ngFor="let log of (changelogs | async)?.mapLog.changes">{{log}}</li>
                </td>
                <td class="mod-log log" style="padding-left: 2em" valign="top">
                    <h2 class="mat-h1">Mod</h2>
                    <h3 class="mat-h3">v. {{(changelogs | async)?.modLog.version}} - {{(changelogs | async)?.modLog.createdAt | date}}</h3>
                    <li *ngFor="let log of (changelogs | async)?.modLog.changes">{{log}}</li>
                </td>
            </tr>
        </table>
        <div class="discord">
            <div>
                <img src="assets/luigiteemd2.png">
                <div class="_message">
                    <span>
                        <a href="https://discord.gg/NUfhgTe" target="_blank">
                            <img src="assets/e4923594e694a21542a489471ecffa50.svg" alt="">
                        </a>
                    </span>
                    <span>Visit our discord server</span>
                </div>
            </div>
        </div>
    </section>
    

    <section class="ranking">
        <div *ngFor="let user of (top5 | async); let i = index" podium="i">
            <span>
                <div skin [name]="user.skin" [scale]="1.8"></div>
                <span>{{user.playerName}}</span>
            </span>
        </div>
    </section>

    <section class="team">
        <h1 class="mat-display-3">Team</h1>
        <div class="team-row">
            <h2 class="mat-display-2">Admin</h2>
            <div class="admins" fxLayout="row" fxLayoutAlign="center">
                <div class="team-tab" matRipple *ngFor="let user of admins | async" routerLink="user/{{user.name}}">
                    <div skin [name]="user.skin"  [scale]="1.8"></div>
                    <h3 class="mat-display-1">{{user.playerName}}</h3>
                </div>
            </div>
        </div>
        <div class="team-row" fxLayout="row" fxLayoutAlign="space-evenly">
            <div class="team-col">
                <h2 class="mat-display-2">Moderator</h2>
                <div fxLayout="row">
                    <div class="team-tab" matRipple *ngFor="let user of mods | async" routerLink="user/{{user.name}}">
                        <div skin [name]="user.skin"  [scale]="1.8"></div>
                        <h3 class="mat-display-1">{{user.playerName}}</h3>
                    </div>
                </div>
            </div>
            <div class="team-col">
                <h2 class="mat-display-2">Webmaster</h2>
                <div fxLayout="row">
                    <div class="team-tab" matRipple *ngFor="let user of webmasters | async" routerLink="user/{{user.name}}">
                        <div skin [name]="user.skin"  [scale]="1.8"></div>
                        <h3 class="mat-display-1">{{user.playerName}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-row" fxLayout="row" fxLayoutAlign="space-evenly">
            <div class="team-col">
                <h2 class="mat-display-2">Mapper</h2>
                <div fxLayout="row">
                    <div class="team-tab" matRipple *ngFor="let user of mappers | async" routerLink="user/{{user.name}}">
                        <div skin [name]="user.skin" [scale]="1.8"></div>
                        <h3 class="mat-display-1">{{user.playerName}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-row" >
            <h2 class="mat-display-2">Police</h2>
            <div fxLayout="row wrap" fxLayoutAlign="center">
                <div class="team-tab" matRipple *ngFor="let user of police | async" routerLink="user/{{user.name}}">
                    <div skin [name]="user.skin"  [scale]="1.8"></div>
                    <h3 class="mat-display-1">{{user.playerName}}</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="donation">
        <h1 class="mat-display-2" style="text-align: center;">Donate</h1>
        <h4 class="mat-display-1">Contact FFanta on Discord to donate</h4>
        <div class="donorranks-container">
            <div class="adv-container" [class.mat-elevation-z2]="true" matRipple>
                <div><span>Donor rank gives you:</span></div>
                <div matTooltip="Gives all master benefits"><span>All Master's benefits</span></div>
                <div matTooltip="Rainbow effect"><span>rainbow</span></div>
                <div matTooltip="Splash effect"><span>splash</span></div>
                <div matTooltip="Love!"><span>love</span></div>
                <div matTooltip="Change emotes"><span>emote</span></div>
                <div matTooltip="Infinite jumps"><span>jump</span></div>
                <div matTooltip="Infinite hook"><span>hook*</span></div>
                <div matTooltip="A nice looking gun"><span>thundergun</span></div>
                <div class="adv-footer"><span class="price">10€</span></div>
            </div>
            <div class="adv-container" [class.mat-elevation-z2]="true" matRipple>
                <div><span>Donor'Pro rank gives you:</span></div>
                <div matTooltip="Gives all master'pro benefits"><span>All Master's'Pro benefits</span></div>
                <div matTooltip="Gives all donor benefits"><span>All Donor's benefits</span></div>
                <div matTooltip="Place mines"><span>mine</span></div>
                <div matTooltip="Fly with a speedjet!"><span>vehicle</span></div>
                <div matTooltip="A powerful gun"><span>lightgun</span></div>
                <div><span></span></div>
                <div><span></span></div>
                <div><span></span></div>
                <div class="adv-footer"><span class="price">20€</span></div>
            </div>
        </div>
    </section>
</main>