@import "../../theme.scss";

main {
    height: 100%;
    overflow: hidden;
    background: rgb(204,232,255);
    background: linear-gradient(0deg, rgba(204,232,255,1) 0%, rgba(94,132,174,1) 100%);
}

section {
    z-index: 2;
}

section div {
    z-index: 2;
}

section h1 {
    z-index: 7;
    position: static;
    margin-bottom: 0.5em;
}

.landing {
    width: 100%;
    height: calc(100vh - 8em);
}

.clouds {
    z-index: 0;
    position: absolute;
}

.cloud1 {
    width: 40vw;
    -webkit-animation: cloud1 160s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: cloud1 160s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

.cloud2 {
    position: absolute;
    top: 40vh;
    width: 30vw;
    -webkit-animation: cloud2 80s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: cloud2 80s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

.title {
    height: 100vh;
}

.welcome-text {
    position: absolute;
    top: 25vh;
    left: 20%;
}

.welcome-text .line {
    position: absolute;
    height: calc((100vh - 8) * 0.08);
    width: 10px;
    background-color: white;
}

.welcome-text .line-1 {
    left: 40%;
}

.welcome-text h1 {
    margin-bottom: 0.5em;
    margin-left: -0.25em;
}

.servers {
    position: absolute;
    top: 75vh;
    right: 20%;
}

.servers h2 {
    margin-bottom: 4px;
    text-align: center;
}

.server-ip {
    width: 15em;
    padding: 0 1em;
    margin-bottom: 0.25em;
    transition: ease-in 0.4s;
    background-color: mat-color($mat-primary, main);
    color: white;
    border-radius: 2em;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.server-ip:hover {
    transition: ease-in 0.2s;
    background-color: mat-color($mat-primary, lighter);

}

.changelog {
    height: 100vh;
    margin-top: 4em;
    display: inline-block
}

.logs {
    position: relative;
    z-index: 2;
    width: 80vw;
    margin: 0 auto;
}

.log {
    position: relative;
    z-index: 2;
    margin: 0 0.5em;
    max-height: 350px;
    text-align: left;
}

.web-log {
    width: 30%;
    border-right: 1px solid #77777777;
}

.map-log {
    width: 30%;
    border-right: 1px solid #77777777;
}

.log h2 {
    margin: 0;
}

.log li {
    margin-left: 0.5em;
}

.discord {
    position: relative;
    top: 100px;
    width: 100%;
    height: 200px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    > div {
        margin-top: 100px;
        float: right;
        width: 150px;
        height: 150px;
        display: block;
        position: relative;
        z-index: 10;
        img {
            width: 150px;
        }
        ._message {
            transition: 0.2s ease-out;
            right: 130px;
            bottom: 110px;
            width: 250px;
            padding: 15px 20px 15px 25px;
            box-sizing: border-box;
            position: absolute;
            font-size: 18px;
            border-radius: 20px 20px 0px 20px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .2);
            span {
                width: 100%;
                display: block;
                color: rgb(138, 138, 138);
                text-align: center;
                img {
                    width: 100%;
                }
            }
        }
        ._message:hover {
            transition: 0.4s ease-out;
            box-shadow: 0 4px 7px 1px rgba(0, 0, 0, .4);
        }
    }
}

.ranking {
    margin: 0 0 100px 0;
    min-width: 1120px;
    height: 500px;
    display: flex;
    position: relative;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
    > div {
        width: 200px;
        margin: 10px;
        position: relative;
        text-align: center;
        border-radius: 6px;
        background-color: white;
        &:before {
            color: transparent;
            width: 100%;
            height: 100%;
            display: flex;
            font-size: 100px;
            font-weight: bolder;
            font-family: 'Anton', sans-serif;
            align-items: center;
            justify-content: center;
            position: absolute;
            animation-fill-mode: forwards;
        }
        &:nth-child(1) {
            &:before {content: "1"}
            height: 0;
            order: 3;
            animation: .5s growAnimation-1 .5s;
            animation-fill-mode: forwards;
            span {
                opacity: 0;
                animation: .5s growAnimation-show .5s;
                animation-fill-mode: forwards;
            }
        }
        &:nth-child(2) {
            &:before {content: "2"}
            height: 0;
            order: 2;
            animation: .5s growAnimation-2 .7s;
            animation-fill-mode: forwards;
            span {
                opacity: 0;
                animation: .5s growAnimation-show .7s;
                animation-fill-mode: forwards;
            }
        }
        &:nth-child(3) {
            &:before {content: "3"}
            height: 0;
            order: 4;
            animation: .5s growAnimation-3 .9s;
            animation-fill-mode: forwards;
            span {
                opacity: 0;
                animation: .5s growAnimation-show .9s;
                animation-fill-mode: forwards;
            }
        }
        &:nth-child(4) {
            &:before {content: "4"}
            height: 0;
            order: 1;
            animation: .5s growAnimation-4 1.1s;
            animation-fill-mode: forwards;
            span {
                opacity: 0;
                animation: .5s growAnimation-show 1.1s;
                animation-fill-mode: forwards;
            }
        }
        &:nth-child(5) {
            &:before {content: "5"}
            height: 0;
            order: 5;
            animation: .5s growAnimation-5 1.3s;
            animation-fill-mode: forwards;
            span {
                opacity: 0;
                animation: .5s growAnimation-show 1.3s;
                animation-fill-mode: forwards;
            }
        }
        &:nth-child(1):before {
            animation: .5s growAnimation-color .7s;
            animation-fill-mode: forwards;
        }
        &:nth-child(2):before {
            animation: .5s growAnimation-color .9s;
            animation-fill-mode: forwards;
        }
        &:nth-child(3):before {
            animation: .5s growAnimation-color 1.1s;
            animation-fill-mode: forwards;
        }
        &:nth-child(4):before {
            animation: .5s growAnimation-color 1.3s;
            animation-fill-mode: forwards;
        }
        &:nth-child(5):before {
            animation: .5s growAnimation-color 1.5s;
            animation-fill-mode: forwards;
        }
        > span {
            top: -150px;
            position: relative;
            > img {
                width: 150px;
            }
            > span {
                width: 100%;
                display: block;
                font-size: 20px;
            }
        }
    }
}

.team {
    text-align: center;
}

.team h2 {
    margin-bottom: 4px;
}

.team-row {
    margin-bottom: 2em;
}

.team-tab {
    min-width: 255px;
    width: 280px;
    max-width: 300px;
    margin: 0.5em;
    padding: 1em;
    transition: 0.4s ease-out;
    background-color: mat-color($mat-light-theme-background, background);
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: 4px 12px 32px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 12px 32px -16px rgba(0,0,0,0.75);
    box-shadow: 4px 12px 32px -16px rgba(0,0,0,0.75);
}

.team-tab:hover {
    transition: 0.2s ease-in;
    -webkit-box-shadow: 4px 12px 32px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 12px 32px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 12px 32px -8px rgba(0,0,0,0.75);
}

.team-tab img {
    border-radius: 50%;
    height: 8em;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.team-tab h3 {
    margin: 0;
}

.donation {
    width: 100%;
}

.donation h4 {
    text-align: center;
    margin-bottom: 0;
}

.donorranks-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.adv-container {
    width: 350px;
    margin: 20px;
    line-height: 20px;
    background-color: white;
}

.adv-container div {
    width: 100%;
    height: 50px;
    padding: 0 20px 0 20px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    span {
        font-size: 14px;
    }
    &:first-child {
        border-radius: 4px 4px 0 0;
        background-color: rgba(241, 241, 241, .9);
        span {
            font-size: 17px;
        }
    }
}

.adv-container div:hover {
    background-color: rgba(133, 72, 72, 0.05);
}

.adv-footer {
    background-color: rgba(241, 241, 241, .4);
    cursor: pointer;
    text-align: center;
    span {
        width: 100%;
        font-size: 19px;
        text-align: center;
    }
}

.poly {
    background-color: mat-color($mat-light-theme-background, background);
    width: 100%;
    z-index: 1;
    position: absolute;
}

.poly1 {
    height: 105vh;
    top: 50vh;
    right: 0;
    bottom: 0;
    left: 0;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 55%);
}

.poly2 {
    height: 105vh;
    top: 120vh;
    max-height: 800px;
    right: 0;
    bottom: 0;
    left: 0;
    clip-path: polygon(100% 0, 100% 100%, 0 44%, 0 0);
}

.poly3 {
    height: 300px;
    right: 0;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
}

@-webkit-keyframes cloud1 {
    0% {
      -webkit-transform: translateX(-40vw);
              transform: translateX(-40vw);
    }
    100% {
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
    }
}

@keyframes cloud1 {
    0% {
        -webkit-transform: translateX(-40vw);
                transform: translateX(-40vw);
    }
    100% {
        -webkit-transform: translateX(140vw);
                transform: translateX(100vw);
    }
}

@-webkit-keyframes cloud2 {
    0% {
      -webkit-transform: translateX(-40vw);
              transform: translateX(-40vw);
    }
    100% {
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
    }
}

@keyframes cloud2 {
    0% {
        -webkit-transform: translateX(-40vw);
                transform: translateX(-40vw);
    }
    100% {
        -webkit-transform: translateX(100vw);
                transform: translateX(100vw);
    }
}
  

@keyframes growAnimation-color {
    from {
        color: transparent;
    }
    to {
        color: rgb(221, 221, 221);
    }
}
@keyframes growAnimation-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@keyframes growAnimation-1 {
    from {
        height: 0;
        box-shadow: 0 0 0 0 transparent;
    }
    to {
        height: 300px;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
}
@keyframes growAnimation-2 {
    from {
        height: 0;
        box-shadow: 0 0 0 0 transparent;
    }
    to {
        height: 250px;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
}
@keyframes growAnimation-3 {
    from {
        height: 0;
        box-shadow: 0 0 0 0 transparent;
    }
    to {
        height: 200px;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
}
@keyframes growAnimation-4 {
    from {
        height: 0;
        box-shadow: 0 0 0 0 transparent;
    }
    to {
        height: 150px;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
}
@keyframes growAnimation-5 {
    from {
        height: 0;
        box-shadow: 0 0 0 0 transparent;
    }
    to {
        height: 100px;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
}

