@import "../../theme.scss";

.container {
    text-align: center;
}

.input mat-form-field {
    margin: 0 0.25em;
}

.login-button button{
    margin: 0 auto;
}

.err-wrong-pass {
    opacity: 0;
    position: absolute;
    margin-top: -2.1em;
    color: red;
}

.err-drop {
    -webkit-animation: slide-in-top 0.4s ease-out both;
            animation: slide-in-top 0.4s ease-out both;
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1em);
              transform: translateY(-1em);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1em);
                transform: translateY(-1em);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
  