<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <h1 mat-dialog-title>Login</h1>
    <div #err class="err-wrong-pass">
      <p>Wrong username or password</p>
    </div>
      <div mat-dialog-content fxLayout="row" class="input">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="data.name" [formControl]="userForm">
          <mat-error *ngIf="userForm.hasError('required')">
            Enter something
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="data.pass" [formControl]="passForm">
          <mat-error *ngIf="userForm.hasError('required')">
            Enter something
          </mat-error>
        </mat-form-field>
      </div>
      <div mat-dialog-actions class="login-button">
        <button mat-button (click)="login()">Login</button>
      </div>
</div>
  
  