@import '../../theme.scss';

header {
  position: relative;
  right: 0;
  z-index: 10;
  height: 64px;
  width: 100%;
  padding: 0 2em;
  color: $light-primary-text;
}

.fixedHeader {
  position: fixed;
  top: 0;
  width: inherit;
  display: none;
}

.rightPanel {
  position: absolute;
  right: 2em;
  display: inline-flex;
}

.rightPanel a {
  color: $light-primary-text;
}

.login {
  top: 0;
  button {
    margin: 0 5px 0 5px;
    padding: 0 15px 0 15px;
    border-radius: 20px;
    &:first-child {
      padding: 0 20px 0 5px;
    }
    span {
      display: inline-flex;
      align-items: center;
      box-sizing: border-box;
    }
  }
}

.rightPanel .searchbar {
  width: 36px;
  height: 36px;
  margin: 0 5px 0 0;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: flex-end;
  transition: .5s all;
  .searchIcon {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
    transition: .2s all;
    &:hover {
      background-color: rgb(0, 0, 0, .04);
    }
  }
  .hints {
    top: 50px;
    width: 100%;
    max-height: 252px;
    overflow: hidden;
    overflow-y: auto;
    display: block;
    position: absolute;
    border-radius: 0 0 6px 6px;
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    > .hint {
      color: rgb(116, 116, 116);
      width: 100%;
      height: 0;
      display: flex;
      padding: 0 5px 0 5px;
      overflow: hidden;
      box-sizing: border-box;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer; 
      span:first-child {
        display: flex;
        padding: 0 5px 0 0;
        box-sizing: border-box;
      }
    }
  }
  input {
    width: 0%;
    color: white;
    margin: 0;
    border: none;
    outline: 0;
    padding: 10px 0 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    background-color: transparent;
  }
  mat-icon {
    filter: brightness(0) invert(1);
  }
  &.active {
    width: 200px;
    background-color: white;
    .hints > .hint {
      overflow: none;
      font-size: 13px;
	    animation: showHint .2s  forwards .4s;
    }
    input {
      color: rgb(116, 116, 116);
      width: 100%;
    }
    /*input {
      color: rgb(116, 116, 116);
      background-color: white;
    }*/
    mat-icon {
      filter: grayscale(0%);
    }
  }
}

.color {
  background-color: #2476d1;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.25);
}

.slide-bottom {
	-webkit-animation: slide-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-top {
	-webkit-animation: slide-top 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
	        animation: slide-top 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}

@keyframes showHint {
  0% {
    height: 0;
  }
  100% {
    height: 36px;
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(64px);
            transform: translateY(64px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(64px);
            transform: translateY(64px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(64px);
            transform: translateY(64px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(64px);
            transform: translateY(64px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}



