<header fxLayout="row" fxLayoutAlign=" center" #topbar>
    <button *ngIf="auth.user" mat-icon-button (click)="sidenavService.toggle()" class="sidenav">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="rightPanel">
        <button mat-raised-button *ngIf="!auth.user" class="login" (click)="openLogin()">
            <mat-icon>account_circle</mat-icon>
            Login
        </button>
        <div *ngIf="auth.user" #searchbar class="searchbar" [ngClass]="searchBarStatus ? 'active' : ''">
            <input (keyup)="searchInput = $event.target.value" (keyup.enter)="search()" #searchInputEl type="text">
            <button mat-icon-button class="searchIcon" (click)="search()">
                <mat-icon color="primary">search</mat-icon>
            </button>
            <div class="hints">
                <div class="hint" *ngFor="let user of searchRes" matRipple [routerLink]="['/user', user.name]">
                    <span><span skin [name]="user.skin" [scale]="0.4"></span></span>
                    <span>{{user.playerName}}</span>
                </div>
            </div>
        </div>
        <div *ngIf="auth.user" class="login">
            <a [routerLink]="['/dashboard']">
                <button mat-button matTooltip="Go to Dashboard">
                    <span><div skin [name]="auth.user.web.skin" [scale]="0.5"></div></span>
                    <span>{{user.general.playerName}}</span>
                </button>
            </a>
            <button mat-button (click)="auth.logout()">Logout</button>
        </div>
    </div>
</header>
<div *ngIf="placeholder && !isLanding" style="height: 64px;"></div>