<topbar [fixed]="true" [placeholder]="true"></topbar>
<mat-drawer-container>
  <mat-drawer mode="side" #sidenav><sidenav></sidenav></mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>



