@import "./theme.scss";

topbar {
    width: 100%;
}

mat-drawer-content {
    overflow: hidden;
}

::ng-deep .mat-drawer-inner-container {
    overflow: hidden !important;
}

router-outlet {
    min-height: 100vh;
}

.title {
    margin-left: 1em;
}

.login {
    position: absolute;
    right: 2em;
}

header {
    opacity: 0;
}

header mat-toolbar {
    -webkit-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.75);
}

header a {
    color: white;
}

header button mat-icon {
    margin-right: 0.25em;
}

footer {
    padding: 4em 2em;
    background-color: mat-color($mat-accent, main);
    color: white;
}
