main {
    min-height: calc(100vh - 64px);
    padding: 30px;
    position: relative;
    box-sizing: border-box;
    overflow-y: auto;
    table {
        position: relative;
        z-index: 2;
        width: 100%;
        max-height: calc((100vh - 64px) - 2em);
        opacity: .9;
    }
    .table {
        max-width: 700px;
        margin: 0 auto;
    }
    .bg {
        z-index: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 500px;
        position: absolute;
        background-repeat: repeat-x;
        background-size: cover;
        z-index: -1;
    }
    .bg-sky {
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgb(204,232,255);
        background: linear-gradient(0deg, rgba(204,232,255,1) 0%, rgba(94,132,174,1) 100%);
        z-index: -2;
    }
    mat-paginator {
        opacity: .99;
    }
}

.clouds {
    width: 100%;
}

.clouds img {
    position: absolute;
    z-index: -1;
}

.cloud1 {
    height: 300px;
    width: 400px;
    top: 5px;
    animation: cloud1 240s infinite;
}

@keyframes cloud1 {
    0% {
        -webkit-transform: translateX(-40vw);
                transform: translateX(-40vw);
    }
    100% {
        -webkit-transform: translateX(140vw);
                transform: translateX(100vw);
    }
}