<main>
  <div class="table mat-elevation-z8">

    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef> Rank </th>
        <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
      </ng-container>

      <!-- User Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let element">
          <div fxLayoutAlign=" center">
            <div skin [name]="element.skin" [scale]="0.5"></div>
            {{element.playerName}}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  </div>
  <div class="bg" style="background: url('assets/ifCityBG.png') center center;"></div>
  <div class="bg-sky"></div>
</main>
<div class="clouds">
    <img src="assets/bg_cloud1.png" class="cloud1">
</div>