<main>
    <section class="userData">
        <article>
            <span><span skin [name]="user.skin" [scale]="2"></span></span>
            <span>
                {{user.playerName}}
            </span>
            <span class="level">
                Lvl {{user.level}}, {{user.role | titlecase}}
            </span>
            <hr>
            <span class="tags">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip 
                    *ngFor="let tag of user.tags"
                    [ngStyle]="{'background-color': tag.color}"
                    matTooltip="{{tag.description}}">
                        {{tag.name}}
                    </mat-chip>
                </mat-chip-list>
            </span>
        </article>
        <article>
            <mat-tab-group>
                <mat-tab label="General"></mat-tab>
                <mat-tab label="General 2"></mat-tab>
            </mat-tab-group>
        </article>
    </section>
</main>
