main {
    height: calc(100vh - 64px)
}

mat-chip {
    color: #f7f7f7 !important;
}

hr {
    width: 100%;
    border: 0;
    height: 0;
    margin: 20px 0 15px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.userData {
    max-width: 1224px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    article {
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        background-color: white;
        &:first-child {
            max-width: 500px;
            margin: 0 20px 0 0;
            padding: 30px;
            box-sizing: border-box;
            span {
                width: 100%;
                margin: 10px 0 10px 0;
                display: block;
                font-size: 25px;
                text-align: center;
                &:first-child {
                    min-width: 192px;
                    min-height: 128px;
                }
                &.level {
                    font-size: 18px;
                }
                &.tags {
                    font-size: 13px;
                    ul {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-wrap: wrap;
                        list-style: none;
                        li {
                            color: white;
                            margin: 4px;
                            padding: 5px 10px 5px 10px;
                            border-radius: 6px;
                            background-color: #2476d1;
                            cursor: pointer;
                            transition: .2s all;
                            &:hover {
                                color: #2476d1;
                                box-shadow: 0 0 3px rgba(68, 68, 68,.5);
                                background-color: rgba(36, 118, 209, .3);
                            }
                        }
                    }
                }
            }
        }
        &:last-child {
            width: 100%;
        }
    }
}