nav {
    position: relative;
    min-width: 15em;
    width: 20vw;
    height: 100%;
    overflow: hidden;
}

mat-nav-list {
    position: fixed;
    min-width: 15em;
    width: 20vw;
}

.top {
    top: 64px;
}
