<nav #container>
    <mat-nav-list>
      <mat-list-item [routerLink]="['/']">
         <mat-icon color="primary">home</mat-icon>
         <a matLine>Start</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['/dashboard']">
         <mat-icon color="primary">dashboard</mat-icon>
         <a matLine>Dashboard</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['/ranking']">
         <mat-icon color="primary">trending_up</mat-icon>
         <a matLine>Ranking</a>
      </mat-list-item>
   </mat-nav-list>
</nav>